$color-primary        : #55c57a;
$color-primary-light  : #7ed56f;
$color-primary-dark   : #28b485;
$color-grey-dark      : #777777;
$color-white          : #FFFFFF;
$color-black          : #000000;

$grid-width         : 114rem;
$grid-row-margin    : 5rem;
$grid-col-margin    : 2rem;

$grid-height-small    : 2rem;
$grid-height-medium   : 4rem;
$grid-height-large    : 8rem;
$grid-height-xlarge   : 16rem;