@keyframes moveFromLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }

    70% {
        transform: translateX(2.5%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    70% {
        transform: translateX(-2.5%);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    70% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    70% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}